fastapi
uvicorn[standard]
# evidently
evidently==0.4.39
mlflow
prometheus_client
pandas
scikit-learn
joblib
python-multipart
python-dotenv
xgboost
nltk
azure-storage-blob
transformers
torch
pytest
sentence-transformers
faiss-cpu
modal
langchain
langchain-huggingface
langchain-community
langchain-core
